.component__title {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.component__title--center {
    text-align: center;
}

@media (min-width: 1224px) {
    .component__title {
        font-size: 2rem;
        line-height: 2.375rem;
    }
}