.about__title {

}

.about__paragraph {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    padding-top: 1rem;
}

.about__paragraph:nth-last-child(2) {
    padding-bottom: 1rem;
}

.about__botao {
    background-color: var(--col-btn);
    border: 1px solid var(--col-btn);
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.75rem 1rem;
}

@media (min-width: 1224px) {

    .about__title {
    }
    
    .about__paragraph {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.1737rem;
    }

}