.about__title {

}

.about__paragraph {
    padding-top: 1rem;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
}

@media (min-width: 1024px) {

    .about__title {
    }
    
    .about__paragraph {
        font-size: 1rem;
        line-height: 1.1737rem;
        font-weight: 400;

    }

}