.about__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__paragraph {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
}

@media (min-width: 1224px) {
    
    .about__paragraph {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.1737rem;
    }
}