.academic__title {
    padding-bottom: 1rem;
    text-align: center;
}

.academic__courses {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}


.academic__courses__box {
    height: 10.56rem;
    width: 18.81rem;
}


.academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}

.academic__courses__item__img {
    background-color: white;      
    text-align: center;
}

.academic__courses__item__img img {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    width: 28%;
}

.academic__courses__item__title {
}

.academic__courses__item__subtitle {
}

@media (min-width: 768px) {
    .academic__courses {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .academic__courses__box {
        height: 21.69rem;
        gap: 1rem;
        width: 23rem;
    }

    .academic__courses__item__img img {
        padding: 4.875rem 5.5rem;
        width: 50%;
    }
    
    .academic__courses__item__title {

    }
    
    .academic__courses__item__subtitle {
 
    }
}