
.experience__boxes {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2rem;
}

.experience__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.experience__img {
    max-width: 50rem;
    width: 100%;
}

.experience__description {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}


@media (min-width: 1224px) {

    .experience__box {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .experience__info--container {
        order: -1;
    }
}