.skills__title {
    padding-bottom: 1rem;
    text-align: center;
}

.skills__line {
}

.skills__box {
}

.skills__name {
}

@media (min-width: 768px) {
    .skills__box {
        width: 28%;
    }
}

@media (min-width: 1024px) {
    .skills__box {
        width: 13%;
    }
}
