/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --col-bg-1: #F5F5F5;
   --col-btn: #2A7AE4;
   --col-link: #000;
   --col-section-1: #E5E5E5;
   --col-section-2: #EAF2FD;
   --col-text: #464646;
}

body {
    background-color: var(--col-bg-1) ;
    box-sizing: border-box;
    color: var(--col-text);
    font-family: 'Raleway';
    line-height: 1;
}

a{
    color: var(--col-text);
    text-decoration: none;
}

li {
	list-style: none;
}

/*Sección Menu*/
.menu {
    background-color: var(--col-section-1);
    display: flex;
    justify-content: space-between;
    padding: 1.1563rem 1rem;
}

/*Sección Title*/
.title {
    background-color: var(--col-section-1);
    display: flex;
    padding: 2.1563rem 1rem 1rem 1rem;
}

/*Sección About*/
.about {
    background-color: var(--col-section-2);
    padding: 2.1563rem 1rem 1rem 1rem;
}

/*Sección Skills*/
.skills {
    background-color: var(--col-section-1);    
    padding: 1rem;
}

/*Sección Hobbies*/
.hobbies {
    background-color: var(--col-section-1);    
    padding: 1rem;    
}

/*Sección Experiencia Académica*/
.academic {
    background-color: var(--col-section-2);    
    padding: 2rem;    
}

/*Sección Experiencia Profesional*/
.experience {
    background-color: var(--col-section-1);    
    padding: 2rem;
}

/*Sección Contacto*/
.formcontato {
    background-color: var(--col-section-2);    
    padding: 2rem;
}

/*Sección Footeer*/
.footer {
    background-color: var(--col-section-1);    
    padding: 2rem;
    text-align: center;
}


/*Tablet*/
@media (min-width: 768px) {

    /*Sección Menú */
    .menu {
        padding: 1.1563rem 2rem;
    }


    /*Sección Title*/
    .title {
        padding: 3.6563rem 2rem 2rem 2rem;
    }

    /*Sección Sobre mi*/
    .about {
        padding: 3.6563rem 2rem 2rem 2rem;
    }

    /*Sección Skills*/
    .skills {
        padding: 2rem;
    }

    /*Sección Hobbies*/
    .hobbies {
        padding: 2rem;
    }

    /*Sección Formación Académica*/

    /*Sección Experiencia Profesional*/

}

/*Desktop*/
@media (min-width: 1024px) {

    /*Sección Menu*/
    .menu {
        padding: 2.1563rem 9.5rem;
    }

    /*Sección Title*/
    .title {
        padding: 4.125rem 9.5rem 2rem 9.5rem;
    }

    /*Sección Sobre mi*/
    .about {
        padding: 4.125rem 33.56rem 2rem 9.5rem;
    }

    /*Sección Skills*/
    .skills {
        padding: 4.125rem 9.5rem 2rem 9.5rem;
    }

    /*Sección Hobbies*/
    .hobbies {
        padding: 4.125rem 9.5rem 2rem 9.5rem;
    }
    
    /*Sección Formación Académica*/

    /*Sección Experiencia Profesional*/
    .experience {
        padding-left: 9.5rem;
        padding-right: 9.5rem;
    }

    /*Sección Contacto*/
    .formcontato {
        padding: 8.094rem 9.5rem 4rem 9.5rem;
    }

    /*Sección Footer*/
}